body {
    height: 100vh;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #abd1c6;
    padding:0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: #001e1d;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

.btn {
    flex: initial;
    background-color: #004643;
    border-radius: 50%;
}

img{
    width: 200px;
    height: auto;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004643;
    color: #fffffe;

}

a{
  
    text-decoration: none;
    color: #fffffe;
}

.footer p{
    margin: 0;
}

